$colorprimary:rgb(247, 253, 256);
$colorsecondary:rgb(1, 78, 104);
body {
    background: $colorprimary;
}

header {
    background-color: $colorsecondary;
    color: $colorprimary;
}

footer {
    background-color: $colorsecondary;
    color: $colorprimary;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.x {
    border: 2px solid black;
    margin: 50px
}